
@theme "/home/jhow/.local/share/rofi/themes/rounded-gray-dark.rasi"

configuration {
    show-icons: true;
}

element {
    orientation: horizontal;
}

element-icon {
    size: 65px;
}

listview {
    lines: 7;
}
